body {
    font-family: sans-serif;
    margin: 0;
    
}

#container {
    display: flex;
    margin-top: 4%;
    justify-content: center;
}

table {
    border: 1px solid black;
    padding: 20px;
}