@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: #f4f2de;
}

h1,
p {
	color: #e9b384;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;
}

ul {
	color: #a1ccd1;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
}

.container {
	display: grid;
	place-items: center;
}
/* link */
/* link */
.link-container {
	text-align: center;
	padding: 10px 0;
}
.link-container a {
	text-decoration: none;
	color: darkviolet;
}

img {
	width: 900px;
	height: 600px;
	border: 3px solid #a1ccd1;
}
td,
tr,
th,
table {
	border: 1px solid;
}
table {
	border-collapse: collapse;
}
td {
	text-align: center;
}
th {
	font-size: 30px;
}
